{% include 'staff_header.html' %}
<center>
		<form method="post">
	<h1>VIEW RESULT</h1>
<table border="50">
	<tr>
		<th>slno</th>
		<th>title</th>
		<th>election date</th>
		<th>voting_status</th>
		<th>candidate_status</th>
		<th>number of votes</th>
		</tr>
	{% for row in data['results'] %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{row['title']}}</td>
		<td>{{row['election_date']}}</td>
        <td>{{row['voting_status']}}</td>
        <td>{{row['candidate_status']}}</td>
        <td>{{row['number of votes']}}</td>
		</tr>
	{% endfor %}
</table>
</center>
{% include'footer.html' %}