{% include 'student_header.html' %}
<center>
		<form method="post">
	<h1>VIEW RESULT</h1>

	<tr>
				<th>Select Post</th>
				<td>
					<select name="cat_id">
						<option>Select Post</option>
						{% for row in data['categ'] %}
						<option value="{{row['category_id']}}">{{row['category_name']}}</option>
						{% endfor %}
					</select>
				</td>
			
				<td><input type="submit" name="filter" value="Filter"></td>
			</tr>
	</table>

<table border="50">
	<tr>
		<th>slno</th>
		<th>Post</th>
		<th>title</th>
		<th>election date</th>
		<th>voting_status</th>
		<th>candidate_status</th>
		<th>number of votes</th>
		</tr>
	{% for row in data['results'] %}
	<tr>
		<td>{{loop.index}}</td>
		<td>{{ row['category_name'] }}</td>
		<td>{{row['title']}}</td>
		<td>{{row['election_date']}}</td>
        <td>{{row['voting_status']}}</td>
        <td>{{row['candidate_status']}}</td>
        <td>{{row['number of votes']}}</td>
        <td><a href="studentmakevote?eid={{row['candidate_id']}}">Make Vote</a></td>
		</tr>
	{% endfor %}
</table>
</center>
{% include'footer.html' %}